BR2_arm=y
BR2_arm920t=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_STATIC_LIBS=y
BR2_TARGET_GENERIC_HOSTNAME="speakerpoint"
BR2_TARGET_GENERIC_ISSUE="SpeakerPoint custom firmware (Buildroot)"
BR2_TARGET_GENERIC_ROOT_PASSWD="changeme-speakerpoint"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAM0"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SPEAKERPOINT_PATH)/board/speakerpoint/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_SPEAKERPOINT_PATH)/board/speakerpoint/post-build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="ep93xx"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_SPEAKERPOINT_PATH)/board/speakerpoint/linux.fragment"
# XZ compresses noticeably better than gzip (RAM is no constraint at
# boot decompression time; mtd2 flash space very much is).
BR2_LINUX_KERNEL_XZ=y
# RedBoot doesn't know how to pass a separate DTB, so append it to the
# zImage (RedBoot just loads+execs the whole blob like it always has).
BR2_LINUX_KERNEL_APPENDED_ZIMAGE=y
BR2_LINUX_KERNEL_CUSTOM_DTS_DIR="$(BR2_EXTERNAL_SPEAKERPOINT_PATH)/board/speakerpoint/dts-overlay"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="cirrus/ep93xx-speakerpoint"
BR2_PACKAGE_MTD=y
BR2_PACKAGE_BUSYBOX_HTTPD=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_EXAMPLE_DAEMON=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
# Also build a gzip cpio image of the same rootfs, for use as a RedBoot
# TFTP-loaded initramfs (see tools/tftp-serve.sh). This lets a whole new
# kernel+rootfs pair be netbooted and tested entirely from RAM before
# anything is written to flash.
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
